@import "compass_twitter_bootstrap";
@import "compass/css3/opacity";

body {
	background-color: #f0ecef;
}


.header {
	position: fixed;
	height: 400px;
	background-color:#7f013f;
	color: #ff007c;
	text-align: center;
	border-bottom:1px solid white;
	h1 {
		font-size: 7em;
		margin-top: 150px;
		margin-bottom: 20px;
	}
	h3 {
		font-weight: 300;
	}
}
.insanity {
	display: none;
}
.switcher {
	position: fixed;
	top: 10px;
	right: 10px;
}

.thumbnails {
	top: 440px;
	left: 20px;
	width: 2200px;
	position: absolute;
}

.thumbnail {
	margin: -5px;
	img {
		max-height: 100%;
	}
}

.circle {
	border-radius: 50%;
	border: 1px rgba(0,0,0,0.9) solid;
	width: 170px;
	height: 170px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	@include opacity(0.2);
	&:first-child {
		display: none;
	}
}
.circles {
	position: absolute;
	top:-350px;
	left: 100px;
}