@import "compass_twitter_bootstrap";
@import "compass/css3/opacity";

body {
	background-color: #f0ecef;
}


.header {
	position: fixed;
	height: 70%;
	background-color:#7f013f;
	background-size:cover;
	color: #ff007c;
	text-align: center;
	border-bottom:1px solid white;
	overflow: hidden;
	h1 {
		font-size: 7em;
		margin-top: 150px;
		margin-bottom: 20px;
	}
	h3 {
		font-weight: 300;
	}
}
.insanity {
	display: none;
}
.switcher {
	position: fixed;
	top: 10px;
	right: 10px;
}

.thumbnails {
	top: 75%;
	left: 20px;
	width: 1800px;
	position: absolute;
}

.thumbnail {
	margin: -5px;
	img {
		max-height: 100%;
	}
}

.circle {
	border-radius: 50%;
	border: 1px rgba(255,255,255,0.9) solid;
	width: 170px;
	height: 170px;
	position: absolute;
	&:first-child {
		display: none;
	}
}
.circles {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-88px;
	margin-left:-88px;
}