---
layout: default
---

<div class="home">

<section>
  <div class="idea">Most people spend more time and energy going around problems than in trying to&nbsp;solve&nbsp;them.</div>
  <i>Henry Ford • Founder&nbsp;and&nbsp;CEO • Ford&nbsp;Motor&nbsp;Company</i>
</section>

</div>
</div>
<div class="section-header" style="background-color:#05C3F9;">
  <h1>Work</h1>
  <section>
    <div class="idea">
      I've replaced a lot of pencil and paper with finger and phone.
    </div>
  </section>
</div>
<div class="wrap">
  <div class="home">
    <div class="row">
      <img class="col-md-6" src="/img/app-store-best-of-2015.png">
      <div class="col-md-6">
        Elevate - Brain Training
        <div class="idea">
          App of the Year in 2014, then Apple Watch Best of 2015.
        </div>
        <p>
          The graphic designer became my best friend during the year I spent
          implementing and refining his redesigns of almost every screen in the
          iOS app. In that time, we shipped two major new versions that were
          featured by Apple in Best New Apps.
        </p>
      </div>
    </div>


  </div>
</div>
  <div class="section-header" style="background-color:purple;">
    <h1>Play</h1>
    <section>
      <div class="idea">
        I solve my own problems with software too.
      </div>
    </section>
  </div>

<div class="wrap">
  <div class="home">
  <div class="row">
    <figure class="col-xs-6 col-md-4 col-md-offset-2">
      <img src="/img/elevate-logo.png" class="img-responsive">
      <figcaption>Main iOS Engineer</figcaption>
    </figure>
    <figure class="col-xs-6 col-md-4">
      <img src="/img/fleksy.png" class="img-responsive">
      <figcaption>iOS Team Engineer</figcaption>
    </figure>
  </div>
  {% include ios.html %}

  <!-- <h2>Blog</h2>
  {% for post in site.categories.blog limit:1 %}
    <div class="post-header">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}#hero">
        {% if post.thumbnail %}
          <img src="{{ post.thumbnail | prepend: site.baseurl }}" class="img-responsive">
        {% endif %}
        <h1>{{ post.title }}</h1>
      </a>
    </div>
  {% endfor %} -->

  <p class="text-center" style="margin:0px 0px 50px 0px; padding:20px 0; background-color:rgb(253, 253, 253);">
    I build iPhone apps in San Francisco<br>
    and I'm available for remote work.<br>
    <a href="mailto:dmzza+hire@me.com">dmzza+hire@me.com</a>
  </p>

</div>
