<div class="posts row">
  {% for post in site.categories.ios %}
    <div class="col-lg-9 col-sm-8 col-xs-12">
      <div class="visible-xs">
        <h1>{{ post.title }}</h1>
      </div>
      <div style="overflow-x:scroll; overflow-y: hidden;">
        <div class="row" style="min-width:860px; max-height:568px;">
          {% if post.thumbnail %}
            <img class="col-xs-4" src="https://placehold.it/320x568">
            <img class="col-xs-4" src="https://placehold.it/320x568">
            <img class="col-xs-4" src="https://placehold.it/320x568">
          {% else %}
            <img class="col-xs-4" src="" class="img-responsive blank">
          {% endif %}
        </div>
      </div>
      <p>
        Flexitarian pickled brooklyn fanny pack gastropub, before they sold out distillery farm-to-table four dollar toast fingerstache put a bird on it banh mi stumptown. Bushwick austin.
      </p>
      <div class="visible-xs">
        <a href="#"><img src="https://placehold.it/135x40"></a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 hidden-xs">
      <h1>{{ post.title }}</h1>
      <a href="#"><img src="https://placehold.it/135x40"></a>
    </div>
  {% endfor %}
</div>
