<div class="posts">
  {% for post in site.categories.startup %}
    <div class="row">
      <div class="col-xs-12 visible-xs">
        <h3>{{ post.title }}</h3>
      </div>
      <div class="dm-scrollable">
        <div class="row" style="min-width:768px; max-height:568px; margin: 15px 0px 0px 0px;">
          {% if post.thumbnail %}
          <figure class="col-sm-3 col-xs-4">
            <img src="{{ post.thumbnail-1 | prepend: site.baseurl }}" class="img-responsive">
            <figcaption>{{ post.caption-1 }}</figcaption>
          </figure>
          <figure class="col-sm-3 col-xs-4">
            <img src="{{ post.thumbnail-2 | prepend: site.baseurl }}" class="img-responsive">
            <figcaption>{{ post.caption-2 }}</figcaption>
          </figure>
          <figure class="col-sm-3 col-xs-4">
            <img src="{{ post.thumbnail-3 | prepend: site.baseurl }}" class="img-responsive">
            <figcaption>{{ post.caption-3 }}</figcaption>
          </figure>
          {% else %}
            <img class="col-sm-3 col-xs-4" src="" class="img-responsive blank">
          {% endif %}
          <div class="col-sm-3 hidden-xs">
            <h3>{{ post.title }}</h3>
            <a href="{{ post.app-store }}" target="_blank"><img src="/img/app-store.svg"></a>
          </div>

        </div>
      </div>
      <div class="col-sm-9 col-xs-12">
        {{ post.content }}
      </div>
      <div class="col-xs-12 visible-xs">
        <a href="{{ post.app-store }}"><img src="/img/app-store.svg"></a>
      </div>
    </div>
  {% endfor %}
</div>
