<div class="posts">
  {% for post in site.categories.ios %}
    <div class="row">
      <div class="col-xs-12 visible-xs">
        <h1>{{ post.title }}</h1>
      </div>
      <div class="dm-scrollable">
        <div class="row" style="min-width:768px; max-height:568px; margin: 15px 0px 0px 0px;">
          {% if post.thumbnail %}
            <img class="col-sm-3 col-xs-4" src="https://placehold.it/320x568">
            <img class="col-sm-3 col-xs-4" src="https://placehold.it/320x568">
            <img class="col-sm-3 col-xs-4" src="https://placehold.it/320x568">
          {% else %}
            <img class="col-sm-3 col-xs-4" src="" class="img-responsive blank">
          {% endif %}
          <div class="col-sm-3 hidden-xs">
            <h1>{{ post.title }}</h1>
            <a href="#"><img src="https://placehold.it/135x40"></a>
          </div>

        </div>
      </div>
      <p class="col-sm-9 col-xs-12">
        Flexitarian pickled brooklyn fanny pack gastropub, before they sold out distillery farm-to-table four dollar toast fingerstache put a bird on it banh mi stumptown. Bushwick austin.
      </p>
      <div class="col-xs-12 visible-xs">
        <a href="#"><img src="https://placehold.it/135x40"></a>
      </div>
    </div>
  {% endfor %}
</div>
