<div class="projects">
  <h1>Projects</h1>
  <div class="row">
    {% for post in site.categories.project %}
      <!-- <div class="col-xs-6 col-md-3"> -->
        <figure class="col-xs-6 col-md-3">
          <img src="{{ post.thumbnail-1 | prepend: site.baseurl }}" class="img-responsive">
          <figcaption>{{ post.caption-1 }}</figcaption>
        </figure>
      <!-- </div> -->
      <div class="col-xs-6 col-md-3">
        <h3>{{ post.title }}</h3>
        <a href="{{ post.app-store }}" target="_blank"><img src="/img/app-store.svg"></a>
        {{ post.content }}
      </div>
    {% endfor %}
  </div>
</div>
