---
layout: default
---

<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="welcomeModalLabel">Hey there!</h4>
      </div>
      <div class="modal-body">
        <div class="prompt">Have an idea?</div>
        <div class="row dark-card">
          <figure class="col-xs-12 col-sm-6">
            <img src="/img/ios-app-cost-spreadsheet.png" class="img-responsive">
          </figure>
          <p class="col-xs-12 col-sm-6">Get the spreadsheet that I use to estimate the cost of building an app.</p>
        </div>
      </div>
      <div class="modal-footer">
        <form class="validate-form" accept-charset="UTF-8" action="http://salutant.herokuapp.com/submissions" method="POST">
          <input type="hidden" name="utf8" value="✓">
          <div class="form-group">
            <!-- <label for="email" class="control-label col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-1 col-lg-offset-3">Your Email</label> -->
            <div class="col-xs-12">
              <input type="email" class="form-control" name="submission[email]" autocomplete="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]+" placeholder="email@me.com">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <button type="submit" class="btn btn-success btn-lg btn-block question-response" data-agrees="true"><img src="/img/checklist-white.png" style="height:22px; vertical-align:bottom;"> Get it</button>
            </div>
          </div>
          <!--
            Autoresponse
            Subject: [Spreadsheet] Estimate the cost to build your idea
            Body:
            Here is a link to the spreadsheet I used to estimate how much it would cost to build Instagram 1.0. Use it to estimate the cost of your own idea right on Google Docs. This copy is only shared between you and me.

            https://docs.google.com/spreadsheets/d/11WlmmKlhLFP9hLColoQADCB-BRwx0cLNYZDU6A930SU/edit?usp=sharing

            If you have any questions, just reply to this email.

            David Mazza
          -->
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  var question = 'Have an idea? - spreadsheet';

  window.setTimeout(function() {
    fbq('track', 'ViewContent');
  }, 30000); // 30 second delay

  window.setTimeout(function() {
    $('#welcomeModal').modal();
  }, 90000); // 90 second delay


  $('#welcomeModal').on('shown.bs.modal', function(e) {
    ga('send', 'event', 'Questions', 'show', question, {
      nonInteraction: true
    });
  });

  $('.question-response').on('click', function(e) {
    var responseButton = $(e.target);
    if(responseButton.data('agrees') == true) {
      ga('send', 'event', 'Questions', 'agree', question);
    } else {
      ga('send', 'event', 'Questions', 'disagree', question);
    }
  })

  $('#welcomeModal').on('hide.bs.modal', function(e) {
    ga('send', 'event', 'Questions', 'dismiss', question, {
      nonInteraction: true
    });
  });

});
</script>

<div class="post">
  <div class="row">
    <header class="post-header col-xs-12">
      <h1>{{ page.title }}</h1>
      <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • <a href="http://davidmazza.com">{{ page.author }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <div class="col-xs-12 post-hero">
      {% if page.hero %}
        <img src="{{ page.hero | prepend: site.baseurl }}" id="hero" class="img-responsive">
      {% endif %}

      {% if page.youtube %}
        <iframe width="800" height="500" src="//www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>

    <article class="post-content col-xs-12">
    {{ content }}
    </article>

    <div class="col-xs-12">
      {% if page.realpixels %}
        <img src="{{ page.realpixels | prepend: site.baseurl }}" class="img-responsive">
      {% endif %}
    </div>
  </div>
</div>

{% if page.categories contains 'portfolio' %}
  {% include portfolio.html %}
{% endif %}
