---
layout: default
---

<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="welcomeModalLabel">One quick question before you read:</h4>
      </div>
      <div class="modal-body">
        <div style="font-weight:600; font-size:3em; text-align:center; text-transform:uppercase; line-height:1.2em;">Do you think Instagram would be hard to build?</div>

      </div>
      <div class="modal-footer">
        <!-- <h2>See poll results after the article.</h2> -->
        <button type="button" class="btn btn-lg btn-default btn-block question-response" data-agrees="false" data-dismiss="modal">Nah, peice of cake.</button>
        <button type="button" class="btn btn-lg btn-primary btn-block question-response" data-agrees="true" data-dismiss="modal">Yeah, seems kinda daunting.</button>

      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  var question = 'Do you think Instagram would be hard to build?';
  $('#welcomeModal').modal();

  $('#welcomeModal').on('shown.bs.modal', function(e) {
    ga('send', 'event', 'Questions', 'show', question, {
      nonInteraction: true
    });
  });

  $('.question-response').on('click', function(e) {
    var responseButton = $(e.target);
    if(responseButton.data('agrees') == true) {
      ga('send', 'event', 'Questions', 'agree', question);
    } else {
      ga('send', 'event', 'Questions', 'disagree', question);
    }
  })

  $('#welcomeModal').on('hide.bs.modal', function(e) {
    ga('send', 'event', 'Questions', 'dismiss', question, {
      nonInteraction: true
    });
  });

});
</script>

<div class="post">
  <div class="row">
    <div class="col-xs-12">
      {% if page.hero %}
        <img src="{{ page.hero | prepend: site.baseurl }}" id="hero" class="img-responsive">
      {% endif %}

      {% if page.youtube %}
        <iframe width="800" height="500" src="//www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>

    <header class="post-header col-xs-12">
      <h1>{{ page.title }}</h1>
      <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content col-xs-12">
    {{ content }}
    </article>

    <div class="col-xs-12">
      {% if page.realpixels %}
        <img src="{{ page.realpixels | prepend: site.baseurl }}" class="img-responsive">
      {% endif %}
    </div>
  </div>
</div>

{% if page.categories contains 'portfolio' %}
  {% include portfolio.html %}
{% endif %}
