---
layout: default
---
<div class="post">
  <div class="row">
    <div class="col-xs-12">
      {% if page.hero %}
        <img src="{{ page.hero | prepend: site.baseurl }}" id="hero" class="img-responsive">
      {% endif %}

      {% if page.youtube %}
        <iframe width="800" height="500" src="//www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>

    <header class="post-header col-xs-12">
      <h1>{{ page.title }}</h1>
      <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content col-xs-12">
    {{ content }}
    </article>

    <div class="col-xs-12">
      {% if page.realpixels %}
        <img src="{{ page.realpixels | prepend: site.baseurl }}" class="img-responsive">
      {% endif %}
    </div>
  </div>
</div>

{% if page.categories contains 'portfolio' %}
  {% include portfolio.html %}
{% endif %}
